# Python
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
.venv/
venv/

# Editor
.DS_Store
.vscode/

# Environment variables
.env
.env.*

# Logs
*.log

# Build artifacts
dist/
build/

dev/
frameworks/
*artifacts*
/*/*/*/artifacts/*

# Common artifacts
artifacts/
target/
node_modules/
*.tmp
*.swp